<p id="notice"><%= notice %></p>

<p>
  <b>Cod alumno:</b>
  <%= @alumno.cod_alumno %>
</p>

<p>
  <b>Nombre:</b>
  <%= @alumno.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @alumno.apellido %>
</p>


<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
